$c-white: #ffffff;
$c-text: #111111;
$c-primary: #1c31a2;
$c-border: #f0f0f0;
$c-gray-0: #fafafa;
$c-gray-1: #eaeaea;
$c-gray-2: #dbdbdb;
$c-gray-3: #b3b3b3;
$c-gray-4: #999999;
$c-gray-5: #666666;
$c-gray-6: #4d4d4d;

$font-xxs: 0.625rem;
$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-base: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

$font-sans: 'Avenir', 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'YuGothic','Yu Gothic', Meiryo, sans-serif;
$font-meticula: 'Meticula', sans-serif;
$font-disney: 'Waltograph', sans-serif;

$z-indexes: ('navigation', 'content', 'bg');

$ease-in-out: cubic-bezier(0.77,0,0.18,1);
